body{
	background-color:#2a3a00;	/* 深绿色背景 */
	margin:0px; padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
#pic{
	position:absolute;
	top:5%;
	left:0%;
	width:100%;
	background:url(middle_bg.jpg) repeat-x;	/* x方向重复 */
}
img{
	margin:0px; padding:0px;
	border:none;
}
#intro{
	position:absolute;
	top:5%;					/* top、left都跟#pic一样 */
	left:0%;
	width:170px;
	margin:290px 0px 0px 560px;	/* 再调整位置 */
}
#intro a:link, #intro a:visited{
	color:#FFFFFF;
	text-decoration:none;
}
#intro a:hover{
	color:#2a3a00;
	text-decoration:none;
}
#llinks{
	position:absolute;
	top:5%;
	left:0%;
	margin:350px 0px 0px 560px;
}
#llinks ul{
	margin:0px;	padding:0px;
	list-style:none;	
}
#llinks ul li{
	background:url(icon1.gif) no-repeat 0px 6px;
	padding:0px 0px 0px 10px; margin:0px;
}
#llinks ul li a:link, #llinks ul li a:visited{
	color:#2a3a00;
	text-decoration:none;
}
#llinks ul li a:hover{
	color:#FFFFFF;
	text-decoration:underline;
}