<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript">
</script>
<style type="text/css">
.box {
	float: left;
	width: 200px;
	height: 100px;
	margin: 1em;
	background-color: green;
}
.after-box {
	clear: left;
}
</style>
	</head>
	<body>
		<div class="box">我感觉我好想在漂浮啊</div>
		<section class="after-box" style="background-color:blue;">在这个例子中， section 元素实际上是在 div 之后的（译注：DOM结构上）。然而 div 元素是浮动到左边的，于是 section 中的文字就围绕了 div ，并且 section 元素包围了整个元素。如果我们想让 section 显示在浮动元素之后呢？</section>
	</body>
</html>