<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>2.3-float属性</title>
	<style type="text/css">
		#a
		{
			background-color:Red;
			float:left;
			height:50px;
			width:100px;
		}
		#b
		{
			background-color:Yellow;    
			float:left;
			height:50px;
			width:200px;
		}
		#c
		{
			background-color:Blue;   
			height:50px;
			width:300px;
		 }
		 #d
		 {
			background-color:Gray;
			float:left;
			height:50px;
			width:400px;
		 }

	</style>
</head>
<body>
<div id=a >div-a</div>
<div id=b>div-b</div>
<div id=c>div-c</div>
<input type="text" value="input1"  />
<input type="text" value="input2" style="float:left;"/>
<input type="text" value="input3 " />
<div id=d>div-d</div>
<input type="text" value="input4 " />
</body>
</html>