/* 蓝色经典 */
body{
	background-color:#ebf7ff;
	margin: 0px;
	padding:0px;
	text-align:center;
}
#container{
	position:relative;
	margin:1px auto 0px auto;
	width:880px;
	text-align:left;
}
#globallink{
	width:880px; height:210px;
	margin:0px;
	background-image:url(banner.jpg);	/* 添加banner图片 */
	background-repeat:no-repeat;
	background-color:#ebf7ff;
	font-size:12px;
}
#globallink ul{
    list-style-type:none;
	position:absolute;
	display:inline;
	width:417px;
	left:468px; top:180px;				/* 调整菜单文字的位置 */
	padding:0px; margin:0px;
}
#globallink li{
	float:left; 
	text-align:center;
}
#globallink ul li#one, #globallink ul li#two, #globallink ul li#three{ width:57px;}
#globallink ul li#four, #globallink ul li#five, #globallink ul li#six{ width:78px;}
#globallink a:link, #globallink a:visited{
	color:#FFFFFF;
	text-decoration:underline;
}
#globallink a:hover{
	color:#004c84;
	text-decoration:none;
}

#parameter{
	position:relative;
	float:right;				/* 右浮动 */
	font-size:12px;
	width:176px;
	padding-right:0px;
	margin:0px;
	color:#FEFEFE;
	background-color:#0084a9;
}
#parameter div{
	margin-bottom:15px;
}
#parameter br{
	clear:both;
	display:none;
}
#parameter h3 span{			/* 标题的文字不显示 */
	display:none;
}
#parameter h3{
	height:30px; width:176px;
	padding:0px; margin:0px;
}
#parameter a:link{
	color:#FFFFFF;
	text-decoration:none;
}
#parameter a:visited{
	color:#EEEEEE;
	text-decoration:none;
}
#parameter a:hover{
	color:#000000;
	text-decoration:none;
}
#parameter a.author1:link{
	color:#39d3ff;
	font-size:12px;
	text-decoration:none;
}
#parameter a.author1:visited{
	color:#37d2fc;
	font-size:12px;
	text-decoration:none;
}
#parameter a.author1:hover{
	color:#14889D;
	font-size:12px;
	text-decoration:none;
}
#lhotblog span a, #lrecent span a, #lapply span a{
	float:right;
	text-align:right;
	padding-top:8px;
	padding-right:5px;
	margin-bottom:5px;
}
#lstatistics h3{									/* 用背景图片代替标题 */
	background:url(lstatistics.jpg) no-repeat;
}
#lhotblog h3{
	background:url(lhotblog.jpg) no-repeat;
}
#lrecent h3{
	background:url(lrecent.jpg) no-repeat;
}
#lapply h3{
	background:url(lapply.jpg) no-repeat;
}
#lstatistics, #lhotblog, #lrecent, #lapply{
	position:relative;
	clear:both;
}
#lstatistics ul, #lhotblog ul, #lrecent ul, #lapply ul{
	list-style-type:none;			/* 统一不显示项目符号 */
	padding:10px 0px 0px 0px;
	margin:0px;
}
#lstatistics li{
	text-align:left;
	padding-left:16px;
	line-height:17px;
	background:url(arrow1.gif) no-repeat 7px 4px;
}
#lhotblog li{
	text-align:left;
	padding-left:14px;
	line-height:17px;
	background:url(arrow2.gif) no-repeat 7px 4px;		/* 背景小图片作为项目符号 */
}
#lrecent li, #lapply li{
	text-align:left;
	padding-left:14px;
	line-height:17px;
	background:url(arrow3.gif) no-repeat 7px 6px;
}

#mainsupport{
	float:left;			/* 左浮动 */
	position:relative;
	font-size:12px;
	margin-top:0px;
	margin-bottom:60px;
	margin-right:0px;
}
#mainsupport div{
	border:1px solid #226c81;
}
#mainsupport h3 span,#mainsupport h3{
	display:none;
}
#mainsupport li a:link{
	color:#2a788e;
	font-size:12px;
	text-decoration:none;
}
#mainsupport li a:visited{
	color:#227086;
	font-size:12px;
	text-decoration:none;
}
#mainsupport li a:hover{
	color:#FFFFFF;
	font-size:12px;
	text-decoration:none;
}
#mainsupport li a.author2:link{
	color:#050505;
	font-size:12px;
	text-decoration:none;
}
#mainsupport li a.author2:visited{
	color:#0a0a0a;
	font-size:12px;
	text-decoration:none;
}
#mainsupport li a.author2:hover{
	color:#4fd8ff;
	font-size:12px;
	text-decoration:underline;
}
#recommendblog br, #currenttime br, #blogsearch br,#logoin br.br2{
	display:none;
	clear:both;
}
#currenttime{
	position:absolute;
	left:0px;
	top:0px;
	width:290px;
	height:140px;
	margin-bottom:10px;
	background-color:#a3d7ff;
	background-image:url(time.jpg);
	background-repeat:no-repeat;
}
#currenttime p.p1{
	color:#915500;
	margin:0px;
	text-align:left;
	padding-left:60px;
	padding-top:20px;
}
#currenttime p.p2{
	color:#7d0f00;
	margin:0px;
	padding-top:8px;
	padding-left:60px;
	padding-bottom:12px;
	text-align:left;
}
#currenttime p a.astro:link{
	color:#E3AA3D;
	font-size:12px;
	text-decoration:none;
}
#currenttime p a.astro:visited{
	color:#E3AA3D;
	font-size:12px;
	text-decoration:none;
}
#currenttime p a.astro:hover{
	color:#CCCC66;
	font-size:12px;
	text-decoration:underline;
}
#currenttime ul{
	padding-left:55px;
	padding-right:0px;
	text-align:center;
	margin-top:5px;
	margin-left:0px;
	margin-right:0px;
	list-style-type:none;
}
#currenttime li{
	float:left;
	width:23px;
	line-height:20px;
}
#recommendblog{
	width:380px;
	height:125px;
	background:url(recommendblog.jpg) no-repeat;	/* 竖的图片作为背景 */
	background-color:#c4e6ff;
	margin-bottom:10px;
	position:absolute;
	padding-top:15px;
	left:310px;
}
#recommendblog ul{
	padding-top:8px;
	padding-left:48px;				/* 调整ul的位置，适应竖的背景标题 */
	margin:0px;
	list-style-type:none;
}
#recommendblog li{
	padding-left:12px;
	line-height:18px;
	background:url(arrow4.gif) no-repeat 2px 6px;
}
#recommendblog span a:link{
	color:#00536b;
	text-decoration:none;
	padding-left:45px;
	font-weight:bold;
}
#recommendblog span a:visited{
	color:#00536b;
	text-decoration:none;
	padding-left:45px;
	font-weight:bold;
}
#recommendblog span a:hover{
	color:#FFFFFF;
	text-decoration:underline;
	padding-left:45px;
	font-weight:bold;
}
#recommendblog span a.author2{
	position:absolute;
	left:230px;
	font-weight:lighter;
}
#recommendblog span a.author2:link{
	color:#020202;
	text-decoration:none;
}
#recommendblog span a.author2:visited{
	color:#020202;
	text-decoration:none;
	font-weight:lighter;
}
#recommendblog span a.author2:hover{
	color:#00536b;
	text-decoration:underline;
	font-weight:lighter;
}
form{
	padding:0px;
	margin:0px;
}
input{
	margin:0px;
}
#blogsearch{
	clear:both;
	position:absolute;
	left:0px;
	top:149px;
	float:left;
	margin:0px;
	background-color:#d1ebff;
	background-image:url(blogsearch.jpg);
	background-repeat: no-repeat;
	width:690px;
	height:32px;
}
#blogsearch ul{
	margin:0px;
	padding-left:160px;
	padding-top:4px;
	list-style-type:none;
	text-align:left;
}
#blogsearch li#sear1{
	color:#d1ebff;
}
#blogsearch li{
	float:left;
	line-height:22px;
}
#blogsearch li#sear1 input{
	left:160px;
	position:absolute;
	background-color:#FFFFFF;
	border:1px solid #226c81;
	color:#226c81;
	font-size:12px;
	height:15px;
	padding:0px;
}
#blogsearch #sear3 input,#blogsearch #sear4 input,#blogsearch #sear5 input{
	margin-left:5px;
}
#blogsearch #sear3 input{
	margin-left:40px;
}
#blogsearch #sear6 input{
	background-color:#FFFFFF;
	border:1px solid #226c81;
	color:#226c81;
	font-size:12px;
	height:17px;
	padding:0px;
	margin-left:5px;
	margin-top:2px;
	margin-bottom:0px;
}
#logoin{
	clear:both;
	position:absolute;
	left:0px;
	top:190px;
	margin:0px;
	height:30px;
	width:690px;
	background-color:#d1ebff;
}
#logoin ul#per{
	margin:0px;
	padding-left:0px;
	padding-top:3px;
	list-style-type:none;
	text-align:left;
}
#logoin ul#per li{
	float:left;
	line-height:23px;
	padding-left:15px;
	padding-top:3px;
	margin:0px;
	background:url(arrow5.gif) no-repeat 8px 10px;
}
#logoin #per input{
	background-color:#FFFFFF;
	border:1px solid #226c81;
	color:#226c81;
	font-size:12px;
	height:15px;
	padding:0px;
}
#logoin #per1 input.textinput1,#logoin #per2 input.textinput2{
	background-color:#FFFFFF;
	border:1px solid #226c81;
	color:#226c81;
	font-size:12px;
	height:14px;
	padding:0px;
	width:110px;
	FONT-FAMILY: "Tahoma","SimSun","Arial", "Helvetica", "sans-serif";
}
#recommendart{
	position:relative;
	top:230px;
	margin:0px;
	width:690px;
	padding-top:35px;
	background:url(recommendart.jpg) no-repeat;
	background-color:#def1ff;
}
#newnode{
	position:relative;
	margin-top:10px;
	width:690px;
	top:230px;
	clear:both;
	background:url(newnode.jpg) no-repeat;
	background-color:#def1ff;
}
#recommendart br, #newnode br{
	clear:both;
}
#recommendart ul{
	padding-left:15px;
	padding-right:5px;
	padding-bottom:10px;
	text-align:left;
	margin-top:5px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
}
#recommendart li{
	line-height:20px;
	padding-left:5px;	
	background:url(arrow6.gif) no-repeat 0px 8px;
	float:left;
	width:330px;
	list-style-type:none;
}
#newnode ul{
	padding-left:45px;
	padding-right:5px;
	padding-bottom:10px;
	text-align:left;
	margin-top:5px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
}
#newnode li{
	line-height:20px;
	padding-left:5px;	
	background:url(arrow6.gif) no-repeat 0px 8px;
	float:left;
	width:300px;
	list-style-type:none;
}

#footer{
	clear:both;				/* 不受浮动影响 */
	font-size:12px;
	text-align:center;
	color:#226c81;
	padding-bottom:20px;
	margin:0px;
	padding-top:20px;
	background-color:#ebf7ff;
}
#footer p{
	margin:0px;
	padding-top:10px;
	background-color:#ebf7ff;
}
#footer a:link{
	color:#006480;
	font-size:12px;
	text-decoration:none;
}
#footer a:visited{
	color:#006480;
	font-size:12px;
	text-decoration:none;
}
#footer a:hover{
	color:#000000;
	font-size:12px;
	text-decoration:none;
}