body{
	margin:10px;
}
#content{								/* 具体内容 */
	border-left:1px solid #11a3ff;		/* 左边框 */
	border-right:1px solid #11a3ff;		/* 右边框 */
	border-bottom:1px solid #11a3ff;	/* 下边框 */
	padding:5px;
	font-size:12px;
}
ul#tabnav{
	list-style-type:none;
	margin:0px;
	padding-left:0px;					/* 左侧无空隙 */
	padding-bottom:23px;
	border-bottom:1px solid #11a3ff;	/* 菜单的下边框 */
	font:bold 12px verdana, arial;
}
ul#tabnav li{
	float:left;
	height:22px;
	background-color:#a3dbff;
	margin:0px 3px 0px 0px;	
	border:1px solid #11a3ff;
}
ul#tabnav a:link, ul#tabnav a:visited{
	display:block;						/* 块元素 */
	color:#006eb3;
	text-decoration:none;
	padding:5px 10px 3px 10px;
}
ul#tabnav a:hover{
	background-color:#006eb3;
	color:#FFFFFF;
}
body#home li.home, body#dev li.dev,	/* 当前页面的菜单项 */
body#design li.design, body#map li.map{
	border-bottom:1px solid #FFFFFF;	/* 白色下边框，覆盖<ul>中的蓝色下边框 */
	color:#000000;
	background-color:#FFFFFF;
}
body#home li.home a:link, body#home li.home a:visited,	/* 当前页面的菜单项的超链接 */
body#dev li.dev a:link, body#dev li.dev a:visited,
body#design li.design a:link, body#design li.design a:visited,
body#map li.map a:link, body#map li.map a:visited{
	color:#000000;
	background-color:#FFFFFF;
}
body#home li.home a:hover, body#dev li.dev a:hover,
body#design li.design a:hover, body#map li.map a:hover{
	color:#006eb3;
	text-decoration:underline;
}